/* Override Colours */
body {background:#f9f9f9;}
caption {background:#e8e8e8;}
hr {background:#d7d7d7;color:#d7d7d7;}
hr.space {background:#f9f9f9;color:#f9f9f9;}
#header {background:#e8e8e8;}
#header hr {background:#c6c6c6;color:#c6c6c6;}
#header hr.space {background:#e8e8e8;color:#e8e8e8;}
/* Override Font Stacks */
h1, h2, h3, h4, h5, h6 {font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;}
pre, code, tt, kbd {font-family:Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace;}
/* Override Bullets */
ul, ol {margin-left: 0;list-style-position: outside;}
/* Override Definition Lists */
dl.compact dd {margin:0;}
dl.compact dd p {margin:0;}
/* Bullets on Headings */
/*h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {content:"» ";margin-left:-0.75em;}*/
/* Bullets on Headings on Hover */
div:hover > h1:before, div:hover > h2:before, div:hover > h3:before, div:hover > h4:before, div:hover > h5:before, div:hover > h6:before {content:"» ";margin-left:-0.75em;}
/* Override Alignment */
#content div > p {text-align:justify;}
#download {float: right;}
.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}
/* Override Code */
pre {
	border:1px solid;
	border-left-width:20px;
	margin:1.5em 0;
	padding:6px 4px 4px 6px;
	overflow:auto;
	-moz-border-radius:4px;
/*	-webkit-border-radius:4px;*/
}
pre, code {color:#333;background:#eee;border-color:#bbb;}
/* Rounded Corners */
.box, .error, .notice, .success {-moz-border-radius:5px;-webkit-border-radius:5px;}
/* Override Size */
body {font-size:87.5%;}
