<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://github.com/jnunemaker/fancy-zoom/raw/master/jquery/js/fancyzoom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/util.js" type="text/javascript" charset="utf-8"></script>
<script src="js/fancyzoom.js" type="text/javascript" charset="utf-8"></script>
<script src="js/github-repos.js" type="text/javascript" charset="utf-8"></script>
<script src="js/insert-email.js" type="text/javascript" charset="utf-8"></script>
