<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  {% include meta.html %}
  <title>{{ page.title }}</title>
  {% include stylesheets.html %}
  {% include scripts.html %}
</head>
<body>
  {% include github-badge.html %}
  <div id="header" class="center">
    <hr class="space" />
    <h1>{{ page.title }}</h1>
    <p class="quiet">{{ page.subtitle }}</p>
    <hr class="space" />
    <hr />
  </div>
  <div class="container">
    <div id="content" class="prepend-1 span-21">
      {{ content }}
    </div>
    <hr />
    <div id="footer" class="prepend-1 span-21 last">
      <p class="quiet small">
        Copyright &copy; 2008&ndash;{{ site.time | date: "%Y" }} Martin K&uuml;hl.
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons&mdash;Attribution-Share Alike 3.0 License">Some rights reserved.</a>
        <br />
        {% include thanks.html %}
        <br />
        Last Visit by the Magical Website Fairy:
        {{ site.time | date: "%d%b%Y, %H:%M %Z" }}.
      </p>
    </div>
  </div>
</body>
</html>
