<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  {% include meta.html %}
  <title>{{ page.title }}</title>
  {% include stylesheets.html %}
  {% include scripts.html %}
</head>
<body>
  {% include github-badge.html %}
  <div id="header" class="">
    <hr class="space" />
    <div id="download">
      <a href="http://github.com/{{ site.username }}/{{ page.github-project }}/zipball/master"><img class="pull-7" height="88" src="http://github.com/images/modules/download/zip.png" alt="Download as a Zip archive" /></a>
      <a href="http://github.com/{{ site.username }}/{{ page.github-project }}/tarball/master"><img class="pull-5" height="88" src="http://github.com/images/modules/download/tar.png" alt="Download as a Tar archive" /></a>
    </div>
    <div class="center">
      <h1>
        <a href="http://github.com/{{ site.username }}/{{ page.github-project }}">{{ page.project-name }}</a> 
      </h1>
      <p class="quiet">
        {{ page.project-description }}
        by <a href="http://{{ site.username }}.github.com/">{{ site.author }}</a>
      </p>
    </div>
    <hr class="space" />
    <hr />
  </div>
  <div class="container">
    <hr class="space" />
    <div id="content" class="prepend-1 span-21">
      <div id="body">
        {{ content }}
        <hr />
        <div>
          <h3>Installation</h3>
          <p>Just double-click or <code><a href="x-man-page://open">open</a></code> the <code>{{ page.project-name }}</code> bundle and TextMate will take care of installing it for you.</p>
        </div>
        <hr />
        <div class="span-10">
          <div>
            <h3>Contact</h3>
            <p>{{ site.contact }}</p>
          </div>
          <div>
            <h3>Dependencies</h3>
            <ul>
              <li><a href="http://macromates.com/">TextMate</a></li>
            </ul>
          </div>
        </div>
        <div class="prepend-1 span-10 last">
          <div>
            <h3>License</h3>
            <p>{{ page.project-copy }} {{ site.author }}; {% include mit-license.html %}.</p>
          </div>
          <div>
            <h3>Authors</h3>
            <p>
              {% for author in page.project-authors %}
              {{ author }}<br />
              {% endfor %}
              {{ site.contact }}
            </p>
          </div>
        </div>
        <hr />
        <div>
          <h3>Download</h3>
          <p>
            You can download this project in either
            <a href="http://github.com/{{ site.username }}/{{ page.github-project }}/zipball/master">zip</a> or
            <a href="http://github.com/{{ site.username }}/{{ page.github-project }}/tarball/master">tar</a> formats.
            <br />
            You can also clone the project with <a href="http://git-scm.com">Git</a> by running:
          </p>
          <pre>$ git clone git://github.com/{{ site.username }}/{{ page.github-project }}</pre>
          <p>
            Browse the source on GitHub: <a href="http://github.com/{{ site.username }}/{{ page.github-project }}">{{ site.username }}/{{ page.github-project }}</a>
          </p>
        </div>
      </div>
    </div>
    <hr />
    <div id="footer" class="prepend-1 span-21 last">
      <p class="quiet small">
        Copyright &copy; 2008&ndash;{{ site.time | date: "%Y" }} {{ site.author }}.
        {% include license.html %}<br />
        {% include thanks.html %}<br />
        Last Visit by the Magical Website Fairy: {{ site.time | date: "%d%b%Y, %H:%M %Z" }}.
      </p>
    </div>
  </div>
</body>
</html>
